$fontstyle: Courier New, Courier; 
$fontcolor: #68534D;




div{
    text-align: center;
    background-color: #83B87B;
 padding-top: 10px;
 width: 400px;
 border: 3px solid dimgrey;
    
    
    h1 {
        color: $fontcolor;
      
    }   
   
nav {
   
   display: flex;
   justify-content: center;
ul {
    display: flex;
    list-style-type: none;
    li {
      margin: 10px;
      color: $fontcolor;
    }
  }
}


p{
 color: $fontcolor;
 
 
}
}

